upstream backend  {
  {% for host in groups['appservers'] %}
    server {{ host }};
  {% endfor %}
}

server {
  location / {
    proxy_pass  http://backend;
    proxy_set_header Host $http_host;
  }
}
